.slider .caption {
  margin-top: 100px;
}

.slider .btn {
  margin-top: 50px;
}

.section-blog img {
  width: 400px;
}

.brand-logo {
  margin: 5px;
}

.section-blog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
